body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-areas: 'header header' 'menu history' 'result-number history' 'memory-buttons-container history' 'keys history';
    background-color: rgb(215, 215, 215);
    grid-template-columns: 1fr 320px;
    grid-template-rows: 48px 44px 1fr 48px 420px;
    height: 100vh;
}

* {
    border-radius: 2px;
    margin: 0;
    padding: 0;
    user-select: none;
}