header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
}

.left-section {
    cursor: pointer;
}

.header-img {
    width: 44px;
    height: 44px;
}

.header-img:hover {
    background-color: rgb(174, 174, 174);
}

#close-tab:hover {
    background-color: rgb(232, 2, 2);
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}