header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-right: 4px;
}

.left-section {
    font-size: 16px;
}

.right-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-section {
    width: 48px;
    height: 48px;
    background-position: center;
}

#minimize {
    background-image: url(img/minus-key.svg);
    background-repeat: no-repeat;
}

#maximize {
    background-image: url(img/maximize.svg);
    background-repeat: no-repeat;
}

#close {
    background-image: url(img/multiplication-key.svg);
    background-repeat: no-repeat;
}

#maximize:hover,
#minimize:hover {
    background-color: rgb(174, 174, 174);
    transition: background-color 0.4s;
}

#maximize:active,
#minimize:active {
    background-color: rgb(140, 140, 140);
    transition: background-color 0.4s;
}

#close:hover {
    background-color: rgb(232, 2, 2);
    transition: background-color 0.4s;
}

#close:active {
    background-color: rgb(188, 2, 2);
    transition: background-color 0.4s;
}