.keys {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    text-align: center;
    grid-area: keys;
    cursor: pointer;
}

.number {
    background-color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    align-content: center;
}

.number:hover,
.functional-key:hover {
    background-color: rgb(202, 202, 202);
}

.number:active {
    background-color: rgb(185, 185, 185);
}

.functional-key {
    background-color: rgb(234, 234, 234);
    font-size: 20px;
    align-content: center;
}

.functional-key:active {
    background-color: rgb(185, 185, 185);
}