.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    place-items: center;
}


#ham-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-right: 4px;
}

#ham-icon:hover {
    background-color: rgb(174, 174, 174);
}

#ham-icon:active {
    background-color: rgb(150, 150, 150);
}

.standard-text {
    font-size: 24px;
}

.result-number {
    grid-area: result-number;
    font-size: 4vw;
    text-align: right;
    padding-right: 20px;
}

.memory-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    grid-area: memory-buttons-container;
}

.enable-memory-button,
.disable-memory-button {
    width: 92px;
    height: 40px;
    background-color: rgb(215, 215, 215);
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
}

.disable-memory-button {
    color: gray;
    cursor: default;
}

.disable-memory-button:hover {
    background-color: transparent;
}

.enable-memory-button:hover {
    background-color: rgb(174, 174, 174);
}

.history {
    grid-area: history;
    box-sizing: border-box;
}

.history-button {
    font-weight: bold;
    display: inline;
    padding: 8px 8px 8px 0;
    text-decoration: none;
    position: relative;
    transform: 2s;
    cursor: pointer;
}

.history-button::after {
    content: '';
    height: 2px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: 0.5s;
}

.history-button:hover::after {
    width: 92%;
}

.history-text {
    margin-top: 12px;
}