.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 0 4px 0;
}


#ham-menu {
    background-image: url(img/ham-menu.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#ham-menu:hover {
    background-color: rgb(174, 174, 174);
}

#ham-menu:active {
    background-color: rgb(150, 150, 150);
}

.standard-text {
    font-size: 24px;
    font-weight: 400;
}

.result-number {
    grid-area: result-number;
    font-size: 4vw;
    text-align: right;
    align-content: center;
    padding-right: 20px;
}