body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-areas: 'header header' 'menu history' 'result-number history' 'memory-buttons-container history' 'keys history';
    background-color: rgb(215, 215, 215);
    grid-template-columns: 3.79fr 1fr;
    grid-template-rows: 48px 44px 2fr 44px 5fr;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

@media screen and (max-width:640px) {
    body {
        grid-template-areas: 'header' 'menu' 'result-number ' 'memory-buttons-container' 'keys';
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:641px) {
    body {
        grid-template-columns: 3fr 1.35fr;
    }
}

@media screen and (min-width:1024px) {
    body {
        grid-template-columns: 1fr 320px;
    }
}