.memory-buttons-container {
    display: flex;
    gap: 20px;
    grid-area: memory-buttons-container;
    width: 100%;
}

.enable-memory-button,
.disable-memory-button {
    height: 40px;
    width: 80px;
    background-color: rgb(215, 215, 215);
    border: none;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    align-content: center;
    transition: background-color 0.4s;
}

.disable-memory-button {
    color: gray;
    cursor: default;
}

.disable-memory-button:hover {
    background-color: transparent;
}

.enable-memory-button:hover {
    background-color: rgb(174, 174, 174);

}

.enable-memory-button:active {
    background-color: rgb(140, 140, 140);
}