[data-theme="dark"] {
    --menu-ham-image: url(../img/ham-menu-dark.svg);
    --menu-minimize-image: url(../img/minimaze-dark.svg);
    --menu-bg-hover:#3b3b3b;
    --menu-bg-active:#4d4d4d;
    --menu-radius-small: 2px 12px 12px 2px;
}
[data-theme="green"] {
    --menu-bg-hover:#4f9541;
    --menu-bg-active:#3c7132;
    --menu-radius-small: 20px;
}
[data-theme="blue"] {
    --menu-bg-hover:#046ab8;
    --menu-bg-active:#034a81;
    --menu-radius-small: 24px 2px;;
}
.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 0 4px 0;
}


.ham-menu {
    background-image: var(--menu-ham-image);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border-radius: var(--menu-radius-small);
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.ham-menu:hover,
.minimize-icon:hover {
    background-color: var(--menu-bg-hover);
}

.ham-menu:active,
.minimize-icon:active {
    background-color: var(--menu-bg-active);
}

.standard-text {
    font-size: 24px;
    font-weight: 400;
}

.minimize-icon {
    background-image: var(--menu-minimize-image);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border-radius: var(--menu-radius-small);
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.result-number {
    grid-area: result-number;
    font-size: 64px;
    text-align: right;
    align-content: end;
    padding-right: 20px;
    padding-bottom: 12px;
}